<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments :: html_head(~{ :: title})">
    <title>Ajouter un patient</title>
</head>
<body>

<nav th:insert="fragments :: nav"></nav>

<div th:insert="fragments :: card('Ajouter un patient', ~{ :: .card-content})">
    <section class="card-content">
        <form class="g-5" action=# method="post" th:object="${patient}">
            <div th:replace="fragments :: patient_fields"></div>
            <div class="mt-5 text-center">
                <button type="submit" class="btn btn-primary btn-lg mx-3">Ajouter</button>
                <a class="btn btn-secondary btn-lg mx-3" th:href="@{list}" role="button">Annuler</a>
            </div>
        </form>
    </section>
</div>

<footer th:insert="fragments :: footer"></footer>

</body>
</html>