<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments :: html_head(~{ :: title})">
    <title>Patients</title>
</head>
<body>

<nav th:insert="fragments :: nav"></nav>

<div th:insert="fragments :: card('Historique des notes', ~{ :: .card-content})">
    <section class="card-content" style="max-width: 50em">
        <form method="get">
            <select class="form-select" aria-label="Sélection du patient"
                    name="patId"
                    onchange="this.form.submit()">
                <option value="">Sélection du patient</option>
                <option th:each="patient: ${patients}"
                        th:value="${patient.id}"
                        th:text="${patient.family+', '+patient.given}"
                        th:selected="${patient.id == selectedId}"
                ></option>
            </select>
        </form>

        <form method="post"
              th:action="@{add}"
              th:object="${note}">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Notes</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="note: ${notes}">
                    <td>
                        <p class="word-wrap"
                           th:utext="${#strings.replace(#strings.escapeXml(note.e),'&#10;','<br>')}"></p>
                    </td>
                    <td class="text-nowrap">
                        <a th:href="@{update/{id}?patId={patId}(id=${note.id})(patId=${note.patId})}"
                           class="btn-link text-decoration-none text-primary">Modifier</a>
                        |
                        <a th:href="@{delete/{id}(id=${note.id})}" class="btn-link text-decoration-none text-primary">Supprimer</a>
                    </td>
                </tr>
                <tr class="align-middle">
                    <td>
                        <textarea class="form-control" name="e" rows="5"></textarea>
                        <input type="hidden" name="patId" th:value="${selectedId}" />
                    </td>
                    <td>
                        <input type="submit" class="btn btn-sm btn-primary" value="Ajouter" />
                    </td>
                </tr>
                </tbody>
            </table>
        </form>

    </section>
</div>

<footer th:insert="fragments :: footer"></footer>

</body>
</html>